# Byte-compiled / virtual environments
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/

# OS
.DS_Store
Thumbs.db

# Logs & outputs
*.log
logs/
*.csv

# Model & test data
*.tflite
*.onnx
*.pth
*.pb
test_images/
datasets/

# Environment / secrets
.env
